<script type="application/javascript">
{% if 'profesores' in list_tables %}
    try {
        $(document).ready(function() {
            $('#tabla_profesores').DataTable({
                "processing": true,
                "responsive": true,
                "language": {
                    {% load static %}
                    "url": "{% static 'json/table_es.json' %}"
                },
                ajax: {
                    url: '{% url 'profesores_ajax' %}',
                    type: 'POST',
                    dataSrc: '',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                },
                columns: [
                    {data: 'id'},
                    {data: 'nombre'},
                    {data: 'alias'},
                    {data: 'activo'},
                    {data: 'id'}
                ],
                columnDefs: [{
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        
                        return '<a onclick="update_profesor('+data+')" class="btn btn-primary btn-sm m-1"><i class="fas fa-edit"></i></a>'+ 
                        '<a onclick="delete_profesor(' + data + ')" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>';
                    }
                }, {
                    targets: [-2],
                    class: 'text-center',
                    render: function(data, type, row) {
                        if (data == true) {
                            return '<span class="badge badge-success">Activo</span> <a onclick="change_status_profesor(' + row.id + ')" class="btn btn-success btn-sm"><i class="fa fa-check" ></i></a>';
                        } else {
                            return '<span class="badge badge-danger">Inactivo</span><a onclick="change_status_profesor(' + row.id + ')" class="btn btn-danger btn-sm ml-1"><i class="fa fa-times" ></i></a>';
                        }
                    }
                }]
            });
        });// */
        
    } catch (error) {
        console.log(error);
    }
    function change_status_profesor(id) {
        $.ajax({
            url: '{% url 'profesores_ajax' %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'type': 'change_status'
            },
            success: function(data) {
                $('#tabla_profesores').DataTable().ajax.reload();
            },
            error: function(data) {
                console.log(data);
            }
        });
    }
    function update_profesor(id, form_html='') {
        $.ajax({
            url: '{% url 'profesores_ajax' %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'type': 'form_update_data_profesor'
            },
            success: function(data) {
                form_html = form_html || data.form;
                Swal.fire({
                    title: 'Actualizar profesor ' + data.nombre,
                    html:   '<form id="form_add_profesor" method="POST">'+
                                '{% csrf_token %}'+
                                '<input type="hidden" name="id" value="'+id+'">'+
                                form_html +               
                            '</form>', //*/
                    showCancelButton: true,
                    confirmButtonText: 'Actualizar',
                    cancelButtonText: 'Cancelar',
                    showLoaderOnConfirm: true,
                    preConfirm: () => {
                        const nombre = Swal.getPopup().querySelector('#nombre_profesor_form_profesor').value
                        const alias = Swal.getPopup().querySelector('#alias_profesor_form_profesor').value
                        if (!nombre) {
                            Swal.showValidationMessage(`Por favor ingrese el nombre`)
                        }
                        return { nombre: nombre, alias: alias }
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '{% url 'profesores_ajax' %}',
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'type': 'update_profesor',
                                'id': id,
                                'nombre': result.value.nombre,
                                'alias': result.value.alias,
                            },
                            success: function(data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Profesor actualizado',
                                    timer: 1500
                                });
                                $('#tabla_profesores').DataTable().ajax.reload();
                            },
                            error: function(data) {
                                update_profesor(id, data.responseJSON.form);
                            }
                        });
                    }
                })
            },
            error: function(data) {
                console.log(data);
            }
        });
        
    }
    //funcion para eliminar un profesor
    function delete_profesor(id) {
        Swal.fire({
            title: '¿Está seguro de eliminar el profesor?',
            text: "No podrá revertir esta acción",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'profesores_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id,
                        'type': 'delete'
                    },
                    success: function(data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Profesor eliminado',
                            timer: 1500
                        });
                        $('#tabla_profesores').DataTable().ajax.reload();
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }
        })
    }

    function add_profesor(form_html='') {
        form_html = form_html || '{{ form_add_profesor|escapejs }}';
        Swal.fire({
            title: 'Agregar profesor',
            html:   '<form id="form_add_profesor" method="POST">'+
                        '{% csrf_token %}'+
                        form_html +               
                    '</form>', //*/
            showCancelButton: true,
            confirmButtonText: 'Agregar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                const nombre = Swal.getPopup().querySelector('#nombre_profesor_form_profesor').value
                const alias = Swal.getPopup().querySelector('#alias_profesor_form_profesor').value
                if (!nombre) {
                    Swal.showValidationMessage(`Por favor ingrese el nombre`)
                }
                return { nombre: nombre, alias: alias }
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'profesores_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'type': 'add_profesor',
                        'nombre': result.value.nombre,
                        'alias': result.value.alias,
                    },
                    success: function(data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Profesor agregado',
                            timer: 1500
                        });
                        $('#tabla_profesores').DataTable().ajax.reload();
                    },
                    error: function(data) {
                        add_profesor(data.responseJSON.form);
                    }
                });
            }
        })
    }
{% endif %}

{% if 'grados' in list_tables %}
    try {
        $(document).ready(function() {
            $('#tabla_grados').DataTable({
                "processing": true,
                "responsive": true,
                "language": {
                    {% load static %}
                    "url": "{% static 'json/table_es.json' %}"
                },
                ajax: {
                    url: '{% url 'grados_ajax' %}',
                    type: 'POST',
                    dataSrc: '',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                },
                columns: [
                    {data: 'id'},
                    {data: 'nombre'},
                    {data: 'alias'},
                    {data: 'activo'},
                    {data: 'id'}
                ],
                columnDefs: [{
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        
                        return ''+
                        {% if 'materias' in list_tables %}
                            <!-- realizar busqueda de la tabla (#tabla_materias) de acuerdo con el id -->
                            '<a onclick="$(\'#tabla_materias\').DataTable().search(\''+data+'\').draw();" class="btn btn-sm btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="Materias"><i class="fas fa-book"></i>Materias</a>'+
                            <!--boton para crear materia-->
                            '<a onclick="add_materia('+data+')" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Agregar materia"><i class="fas fa-plus"></i>Materia</a>'+
                        {% endif %}
                            '<a onclick="update_grado('+data+')" class="btn btn-primary btn-sm m-1"><i class="fas fa-edit"></i></a>'+ 
                            '<a onclick="delete_grado(' + data + ')" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>'
                    }
                }, {
                    targets: [-2],
                    class: 'text-center',
                    render: function(data, type, row) {
                        if (data == true) {
                            return '<span class="badge badge-success ">Activo</span> <a onclick="change_status_grado(' + row.id + ')" class="btn btn-success btn-sm"><i class="fa fa-check" ></i></a>';
                        } else {
                            return '<span class="badge badge-danger">Inactivo</span><a onclick="change_status_grado(' + row.id + ')" class="btn btn-danger btn-sm ml-1"><i class="fa fa-times" ></i></a>';
                        }
                    }
                }]
    
            });
        });// */
        
    } catch (error) {
        console.log(error);
    }
    function change_status_grado(id) {
        $.ajax({
            url: '{% url 'grados_ajax' %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'type': 'change_status'
            },
            success: function(data) {
                $('#tabla_grados').DataTable().ajax.reload();
            },
            error: function(data) {
                console.log(data);
            }
        });
    }
    function update_grado(id, form_html='') {
        $.ajax({
            url: '{% url 'grados_ajax' %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'type': 'form_update_data_grado'
            },
            success: function(data) {
                form_html = form_html || data.form;
                Swal.fire({
                    title: 'Actualizar grados ' + data.nombre,
                    html:   '<input type="hidden" name="id" value="'+id+'">'+
                            form_html, //*/
                    showCancelButton: true,
                    confirmButtonText: 'Actualizar',
                    cancelButtonText: 'Cancelar',
                    showLoaderOnConfirm: true,
                    preConfirm: () => {
                        const nombre = Swal.getPopup().querySelector('#nombre_grado_form_grado').value
                        const alias = Swal.getPopup().querySelector('#alias_grado_form_grado').value
                        if (!nombre) {
                            Swal.showValidationMessage(`Por favor ingrese el nombre`)
                        }
                        return { nombre: nombre, alias: alias }
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '{% url 'grados_ajax' %}',
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'type': 'update_grado',
                                'id': id,
                                'nombre': result.value.nombre,
                                'alias': result.value.alias,
                            },
                            success: function(data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Grado actualizado',
                                    timer: 1500
                                });
                                $('#tabla_grados').DataTable().ajax.reload();
                            },
                            error: function(data) {
                                update_grado(id, data.responseJSON.form);
                            }
                        })
                    }
                });
            },
            error: function(data) {
                console.log(data);
            }
        });
        
    }
    //funcion para eliminar un grado
    function delete_grado(id) {
        Swal.fire({
            title: '¿Está seguro de eliminar el grado?',
            text: "No podrá revertir esta acción",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'grados_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id,
                        'type': 'delete'
                    },
                    success: function(data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Grado eliminado',
                            timer: 1500
                        });
                        $('#tabla_grados').DataTable().ajax.reload();
                        {% if 'materias' in list_tables %}
                        $('#tabla_materias').DataTable().ajax.reload();
                        {% endif %}
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }
        })
    }

    function add_grado(form_html='') {
        form_html = form_html || '{{ form_add_grado|escapejs }}';
        Swal.fire({
            title: 'Agregar grado',
            html:   form_html, //*/
            showCancelButton: true,
            confirmButtonText: 'Agregar',
            cancelButtonText: 'Cancelar',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                const nombre = Swal.getPopup().querySelector('#nombre_grado_form_grado').value
                const alias = Swal.getPopup().querySelector('#alias_grado_form_grado').value
                if (!nombre) {
                    Swal.showValidationMessage(`Por favor ingrese el nombre`)
                }
                return { nombre: nombre, alias: alias }
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'grados_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'type': 'add_grado',
                        'nombre': result.value.nombre,
                        'alias': result.value.alias,
                    },
                    success: function(data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Grado agregado',
                            timer: 1500
                        });
                        $('#tabla_grados').DataTable().ajax.reload();
                    },
                    error: function(data) {
                        add_grado(data.responseJSON.form);
                    }
                });
            }
        })
    }
{% endif %}

{% if 'materias' in list_tables %}
    try {
        $(document).ready(function() {
            $('#tabla_materias').DataTable({
                "processing": true,
                "responsive": true,
                "language": {
                    {% load static %}
                    "url": "{% static 'json/table_es.json' %}"
                },
                ajax: {
                    url: '{% url 'materias_ajax' %}',
                    type: 'POST',
                    dataSrc: '',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                },
                columns: [
                    {data: 'grado_id'},
                    {data: 'nombre'},
                    {data: 'grado'},
                    {data: 'activo'},
                    {data: 'id'}
                ],
                columnDefs: [{
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        
                        return '<a onclick="update_materia('+data+')" class="btn btn-primary btn-sm m-1"><i class="fas fa-edit"></i></a>'+ 
                        '<a onclick="delete_materia(' + data + ')" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>';
                    }
                }, {
                    targets: [-2],
                    class: 'text-center',
                    render: function(data, type, row) {
                        if (data == true) {
                            return '<span class="badge badge-success">Activo</span> <a onclick="change_status_materia(' + row.id + ')" class="btn btn-success btn-sm"><i class="fa fa-check" ></i></a>';
                        } else {
                            return '<span class="badge badge-danger">Inactivo</span><a onclick="change_status_materia(' + row.id + ')" class="btn btn-danger btn-sm ml-1"><i class="fa fa-times" ></i></a>';
                        }
                    }
                }]
    
            });
        });// */
        
    } catch (error) {
        console.log(error);
    }
    function change_status_materia(id) {
        $.ajax({
            url: '{% url 'materias_ajax' %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'type': 'change_status'
            },
            success: function(data) {
                $('#tabla_materias').DataTable().ajax.reload();
            },
            error: function(data) {
                console.log(data);
            }
        });
    }
    function update_materia(id, form_html='') {
        $.ajax({
            url: '{% url 'materias_ajax' %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'type': 'form_update_data_materia'
            },
            success: function(data) {
                form_html = form_html || data.form;
                Swal.fire({
                    title: 'Actualizar Materia ' + data.nombre,
                    html:   '<input type="hidden" name="id" value="'+id+'">'+
                            form_html, //*/
                    showCancelButton: true,
                    confirmButtonText: 'Actualizar',
                    cancelButtonText: 'Cancelar',
                    showLoaderOnConfirm: true,
                    preConfirm: () => {
                        const nombre = Swal.getPopup().querySelector('#nombre_materia_form_materia').value
                        const grado = Swal.getPopup().querySelector('#grado_materia_form_materia').value
                        if (!nombre) {
                            Swal.showValidationMessage(`Por favor ingrese el nombre`)
                        }
                        return { nombre: nombre, grado: grado }
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '{% url 'materias_ajax' %}',
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'type': 'update_materia',
                                'id': id,
                                'nombre': result.value.nombre,
                                'grado': result.value.grado,
                            },
                            success: function(data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Materia actualizado',
                                    timer: 1500
                                });
                                $('#tabla_materias').DataTable().ajax.reload();
                            },
                            error: function(data) {
                                update_materia(id, data.responseJSON.form);
                            }
                        });
                    }
                })
            },
            error: function(data) {
                console.log(data);
            }
        });
        
    }
    function delete_materia(id) {
        Swal.fire({
            title: '¿Está seguro de eliminar la materia?',
            text: "No podrá revertir esta acción",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'materias_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id,
                        'type': 'delete'
                    },
                    success: function(data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Materia eliminado',
                            timer: 1500
                        });
                        $('#tabla_materias').DataTable().ajax.reload();
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }
        })
    }
    function add_materia(id_grado=0, form_html='') {
        if (id_grado == 0){
            //form_html = form_html || '{{ form_add_materia|escapejs }}';
            if (form_html == ''){ 
                $.ajax({
                    url: '{% url 'materias_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id_grado': id_grado,
                        'type': 'form_html',
                    },
                    success: function(data) {
                        form_html = data.form;
                        add_materia(id_grado, form_html);
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }
        }else{
            $.ajax({
                url: '{% url 'materias_ajax' %}',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id_grado': id_grado,
                    'type': 'form_add_data_materia'
                },
                success: function(data) {
                    form_html = data.form;
                    add_materia(0, form_html);
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }
        Swal.fire({
            title: 'Agregar Materia',
            html:   form_html , //*/
            showCancelButton: true,
            confirmButtonText: 'Agregar',
            cancelButtonText: 'Cancelar',
            //detectar enter
            allowEnterKey:true,
            allowOutsideClick:false,

            //bloquear el boton de confirmar


            showLoaderOnConfirm: true,
            preConfirm: () => {
                const nombre = Swal.getPopup().querySelector('#nombre_materia_form_materia').value
                const grado = Swal.getPopup().querySelector('#grado_materia_form_materia').value
                if (!nombre) {
                    Swal.showValidationMessage(`Por favor ingrese el nombre`)
                }
                if (!grado) {
                    Swal.showValidationMessage(`Por favor ingrese el grado`)
                }
                return { nombre: nombre, grado: grado }
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url 'materias_ajax' %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'type': 'add_materia',
                        'nombre': result.value.nombre,
                        'grado': result.value.grado,
                    },
                    success: function(data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Materia agregado',
                            timer: 1500
                        });
                        $('#tabla_materias').DataTable().ajax.reload();
                    },
                    error: function(data) {
                        add_materia(0, data.responseJSON.form);
                    }
                });
            }
        })
    }
{% endif %}


</script>