{% load static %}
<div class="" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <div class="row">
            </div>             
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla_nw_horario" class="table table-bordered table-hover nowrap scrollbar-y" style="width:100%">
                    <thead class=" text-primary">
                                
                    </thead>
                    <tbody>
                                           
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
